In [25]:
import findspark

# your path will likely not have 'andonshkurti' in it. Change it to reflect your path.
findspark.init('/home/andonshkurti/spark-2.4')

In [26]:
import pyspark
from pyspark.sql import SQLContext
# Start spark
sc = pyspark.SparkContext()
sqlContext = SQLContext(sc)

In [27]:
# Loading a csv file to a dataframe
df = sqlContext.read.csv('export.csv', inferSchema=True, header=True)

In [28]:
df.show(10)

+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| _c0|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|   1| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|  10| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
| 100|  0.8|  Premium|    H|    SI1| 61.5| 58.0| 2760|5.97|5.93|3.66|
|1000| 1.12|  Premium|    J|    SI2| 60.6| 59.0| 2898|6.68|6.61|4.03|
|1001| 0.75|    Ideal|    D|    SI1| 62.3| 55.0| 2898|5.83| 5.8|3.62|
| 101| 0.75|Very Good|    D|    SI1| 63.2| 56.0| 2760| 5.8|5.75|3.65|
| 102| 0.75|  Premium|    E|    SI1| 59.9| 54.0| 2760| 6.0|5.96|3.58|
| 103| 0.74|    Ideal|    G|    SI1| 61.6| 55.0| 2760| 5.8|5.85|3.59|
| 104| 0.75|  Premium|    G|    VS2| 61.7| 58.0| 2760|5.85|5.79|3.59|
| 105|  0.8|    Ideal|    I|    VS1| 62.9| 56.0| 2760|5.94|5.87|3.72|
+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 10 rows

In [29]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- carat: double (nullable = true)
 |-- cut: string (nullable = true)
 |-- color: string (nullable = true)
 |-- clarity: string (nullable = true)
 |-- depth: double (nullable = true)
 |-- table: double (nullable = true)
 |-- price: integer (nullable = true)
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- z: double (nullable = true)

In [30]:
# Filtering column and counting
df.filter(df.carat == 0.75).count()

25

In [31]:
# Grouping data and counting
df_grouped = df.groupby('carat')\
.count()\
.show()

+-----+-----+
|carat|count|
+-----+-----+
| 0.66|    3|
| 0.84|    8|
| 0.87|    4|
| 0.93|    1|
| 0.89|    1|
|  0.2|    1|
| 1.08|    1|
| 0.79|   25|
| 0.72|   59|
| 1.05|    3|
|  0.7|  164|
| 0.24|   10|
| 0.54|    5|
| 0.21|    1|
| 0.61|    5|
| 0.99|    2|
| 1.01|   13|
|  1.0|   16|
|  0.6|    6|
| 0.64|    4|
+-----+-----+
only showing top 20 rows

In [32]:
# Sorting data based on column name carat
df_sorted = df.sort(df.carat.desc())\
.show()

+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| _c0|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 660| 1.27|  Premium|    H|    SI2| 59.3| 61.0| 2845|7.12|7.05| 4.2|
| 801| 1.22|  Premium|    E|     I1| 60.9| 57.0| 2862|6.93|6.88|4.21|
| 377|  1.2|     Fair|    F|     I1| 64.6| 56.0| 2809|6.73|6.66|4.33|
| 683|  1.2|Very Good|    H|     I1| 63.1| 60.0| 2850|6.75|6.67|4.23|
| 968| 1.19|     Fair|    H|     I1| 65.1| 59.0| 2892|6.62|6.55|4.29|
| 173| 1.17|Very Good|    J|     I1| 60.2| 61.0| 2774|6.83| 6.9|4.13|
| 526| 1.17|  Premium|    J|     I1| 60.2| 61.0| 2825| 6.9|6.83|4.13|
| 702| 1.12|  Premium|    H|     I1| 59.1| 61.0| 2854|6.78|6.75| 4.0|
|1000| 1.12|  Premium|    J|    SI2| 60.6| 59.0| 2898|6.68|6.61|4.03|
| 845| 1.08|  Premium|    D|     I1| 61.9| 60.0| 2869|6.55|6.48|4.03|
| 926| 1.05|  Premium|    H|     I1| 62.0| 59.0| 2881| 6.5|6.47|4.02|
| 256| 1.05|     Fair|    J|    SI2| 65.8| 59.0| 2789|6.41|6.27|4.18|
| 248| 1.05|Very Good|    J|    SI2| 63.2| 56.0| 2789|6.49|6.45|4.09|
| 858| 1.04|  Premium|    I|     I1| 61.6| 61.0| 2870|6.47|6.45|3.98|
| 324| 1.04|  Premium|    G|     I1| 62.2| 58.0| 2801|6.46|6.41| 4.0|
| 711| 1.03|     Good|    J|    SI1| 63.6| 57.0| 2855|6.38|6.29|4.03|
| 935| 1.03|     Fair|    I|    SI2| 65.3| 55.0| 2884|6.32|6.27|4.11|
| 445| 1.02|  Premium|    G|     I1| 60.3| 58.0| 2815|6.55| 6.5|3.94|
| 716| 1.02|    Ideal|    H|    SI2| 61.6| 55.0| 2856|6.49|6.43|3.98|
| 714| 1.02|     Fair|    I|    SI1| 53.0| 63.0| 2856|6.84|6.77|3.66|
+----+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [33]:
# Filering based on price
df_filter_on_price = df.filter(df.price > 2815)

In [34]:
# Counting all the diamonds that have price greater then 2815
df_filter_on_price.count()

525

In [35]:
group = df.groupBy('price').count().show()

+-----+-----+
|price|count|
+-----+-----+
| 2866|    5|
| 2811|    4|
| 2776|    9|
| 2821|    9|
| 2833|    7|
| 2802|    4|
| 2874|    9|
| 2848|    3|
| 2797|   14|
| 2835|    6|
| 2888|    1|
| 2771|    4|
| 2842|    2|
| 2778|    1|
| 2871|    5|
| 2857|    5|
| 2804|   11|
| 2809|    4|
|  336|    2|
| 2772|    5|
+-----+-----+
only showing top 20 rows

In [36]:
# Create a table from the DataFrame df
df.registerTempTable('Diamond')

In [37]:
# Quering the table Diamond
sqlContext.sql("SELECT * FROM Diamond WHERE cut = 'Ideal'").show()

+----+-----+-----+-----+-------+-----+-----+-----+----+----+----+
| _c0|carat|  cut|color|clarity|depth|table|price|   x|   y|   z|
+----+-----+-----+-----+-------+-----+-----+-----+----+----+----+
|   1| 0.23|Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|1001| 0.75|Ideal|    D|    SI1| 62.3| 55.0| 2898|5.83| 5.8|3.62|
| 103| 0.74|Ideal|    G|    SI1| 61.6| 55.0| 2760| 5.8|5.85|3.59|
| 105|  0.8|Ideal|    I|    VS1| 62.9| 56.0| 2760|5.94|5.87|3.72|
| 106| 0.75|Ideal|    G|    SI1| 62.2| 55.0| 2760|5.87| 5.8|3.63|
| 108| 0.74|Ideal|    I|   VVS2| 62.3| 55.0| 2761|5.77|5.81|3.61|
| 109| 0.81|Ideal|    F|    SI2| 58.8| 57.0| 2761|6.14|6.11| 3.6|
| 110| 0.59|Ideal|    E|   VVS2| 62.0| 55.0| 2761|5.38|5.43|3.35|
| 111|  0.8|Ideal|    F|    SI2| 61.4| 57.0| 2761|5.96| 6.0|3.67|
| 112| 0.74|Ideal|    E|    SI2| 62.2| 56.0| 2761| 5.8|5.84|3.62|
| 115| 0.73|Ideal|    F|    VS2| 62.6| 56.0| 2762|5.77|5.74| 3.6|
| 116| 0.73|Ideal|    F|    VS2| 62.7| 53.0| 2762| 5.8|5.75|3.62|
| 118| 0.71|Ideal|    G|    VS2| 62.4| 54.0| 2762|5.72|5.76|3.58|
| 119|  0.7|Ideal|    E|    VS2| 60.7| 58.0| 2762|5.73|5.76|3.49|
|  12| 0.23|Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 120|  0.8|Ideal|    F|    SI2| 59.9| 59.0| 2762|6.01|6.07|3.62|
| 121| 0.71|Ideal|    D|    SI2| 62.3| 56.0| 2762|5.73|5.69|3.56|
| 122| 0.74|Ideal|    E|    SI1| 62.3| 54.0| 2762| 5.8|5.83|3.62|
| 131| 0.77|Ideal|    H|    VS2| 62.0| 56.0| 2763|5.89|5.86|3.64|
| 133| 0.71|Ideal|    D|    SI1| 61.9| 59.0| 2764|5.69|5.72|3.53|
+----+-----+-----+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [38]:
# Find all the cuts avelable
sqlContext.sql("SELECT distinct(cut) FROM Diamond").show()

+---------+
|      cut|
+---------+
|  Premium|
|    Ideal|
|     Good|
|     Fair|
|Very Good|
+---------+

In [39]:
# Stop spark

In [40]:
sc.stop()